body {
    background-color:azure;
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    text-decoration: underline;
    transition: color 0.3s ease;
}

h1:hover {
    color: red;
    text-decoration: underline;
}

img {
    border-radius: 30px;
    transition: transform 0.5s ease;
}
img:hover {
    transform: scale(1.05);
}

